body {
    font-family: sans-serif, 'Courier New', Courier, monospace;
    background-color: rgb(8, 25, 11);
    color: rgb(204, 224, 206);
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    min-height: 100vh;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

.link-row {
    display: inline;
    width: 40%;
    height: auto;
}

.link-col {
    display: inline-block;
    width: auto;
    height: auto;
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 5px 10px 3px;
    justify-content: center;
    border-radius: 20px;
}

.link-col:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-color: black;
}

.link-item a {
    color: rgb(204, 224, 206);
    text-decoration: none;
    font-size: 18px;
    align-items: center;
    display: inline-flex;
}

img {
    vertical-align: middle;
}
