html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}


body {
    font-family: Montserrat, Helvetica, sans-serif;
    background-color: rgb(8, 25, 11);
    color: rgb(230, 255, 230);
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    min-height: 100dvh;
    height: 100dvh;
}

.title-container {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

.link-row {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
    max-width: 70%;
}

.link-col {
    display: inline-block;
    width: auto;
    height: auto;
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 5px 10px 3px;
    justify-content: center;
    border-radius: 20px;
}

.link-col:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-color: black;
}

.link-item a {
    color: rgb(230, 255, 230);
    text-decoration: none;
    font-size: 18px;
    align-items: center;
    display: inline-flex;
}

img {
    vertical-align: middle;
}
