body {
    font-family: sans-serif, 'Courier New', Courier, monospace;
    background-color: black;
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    min-height: 100vh;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

.link-row {
    display: inline;
    width: 40%;
    height: auto;
}

.link-col {
    display: inline-block;
    width: auto;
    height: auto;
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 5px 10px;
    justify-content: center;
    border-radius: 20px;
}

.link-col:hover {
    border-color: #DDD;
}

.link-item a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    align-items: center;
    display: inline-flex;
}

.link-item a:hover {
    color: #DDD;
}