body {
    font-family: "Courier New", monospace;
    background-color: black;
    color: white;
    text-align: center;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

.link-row {
    display: inline;
    width: 40%;
    height: auto;
}

.link-col {
    display: inline-block;
    width: auto;
    height: auto;
    border-color: white;
    border-width: 1px;
}

.link-item a {
    color: white;
    text-decoration: none;
}

.link-item a:hover {
    color: #EEE;
}