html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-family: "BBH Bartle", "Montserrat", Helvetica, sans-serif;
    background-color: rgb(8, 25, 11);
    color: rgb(230, 255, 230);
    min-height: 100dvh;
    height: 100dvh;
    border: 1px solid red
}

.page-container {
    border: 1px solid green;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}

.navbar {
    list-style-type: none;
    font-size: 12px;
    margin: 0;
    padding: 0;
    border: 1px solid blue;
    display: flex;
}

.navbar-item {
    margin: 10px;
    width: auto;
    height: auto;
}

.navbar-item a {
    color: rgb(230, 255, 230);
    text-decoration: none;
}

.navbar-item a:hover {
    color: rgba(230, 255, 230, 0.5);
}

.title-container {
    margin-top: 20%;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border: 1px solid yellow;
}

.cropped-image {
    margin-top: 20px;
    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position: center;
    border: 1px solid rgba(230, 255, 230, 0.2);
    border-radius: 50%;
}

.link-row {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
    max-width: 80%;
    border: 1px solid red
}

.link-col {
    display: inline-block;
    width: auto;
    height: auto;
    border: 1px solid rgba(230, 255, 230, 0.2);
    border-radius: 50%;
    justify-content: center;
    padding: 5px;
}

.link-col:hover {
    background-color: rgba(230, 255, 230, 0.2);
    border-color: rgb(8, 25, 11);
}

.link-item a {
    color: rgb(230, 255, 230);
    text-decoration: none;
    font-size: 18px;
    align-items: center;
    display: inline-flex;
}

img {
    vertical-align: middle;
}
