html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-family: Montserrat, Helvetica, sans-serif;
    background-color: rgb(8, 25, 11);
    color: rgb(230, 255, 230);
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    min-height: 100dvh;
    height: 100dvh;
}

.cropped-image {
    margin-top: 20px;
    width: 150px;
    height: 150px;
    object-fit: cover;
    object-position: center;
    /* border:1px solid orange; */
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 50%;
}

.title-container {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    /* border: 1px solid yellow; */
}

.link-row {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
    max-width: 80%;
    /* border: 1px solid red */
}

.link-col {
    display: inline-block;
    width: auto;
    height: auto;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    justify-content: center;
    padding-top: 5px;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 1px;
}

.link-col:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-color: black;
}

.link-item a {
    color: rgb(230, 255, 230);
    text-decoration: none;
    font-size: 18px;
    align-items: center;
    display: inline-flex;
}

img {
    vertical-align: middle;
}
