body {
    font-family: "Roboto", "Times New Roman";
    background-color: black;
    color: white;
    text-align: center;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

.link-row {
    display: inline;
    width: 40%;
    height: auto;
}

.link-col {
    display: inline-block;
    width: auto;
    height: auto;
}

.link-item a {
    color: white;
}

.link-item a:hover {
    color: #EEE;
}