body {
    font-family: "Roboto", "Times New Roman";
    background-color: black;
    color: white;
    text-align: center;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

.link-row {
    background-color: blue;
}

.link-col {
    background-color: red;
}

.link-item {
    color: white;
}

.link-item a:hover {
    color: whitesmoke;
}